.airport-departure {
    display: inline-flex;
    border: 1px solid #888888;
    border-radius: 1px
}

.flight-container {
    display: flex;
    flex-direction: column;
}

.time {
    display: flex;
    flex-direction: row;
}

.container-stars {
    letter-spacing: -3px;
}

 .container-details {
     display: flex;
     justify-content: space-evenly;
     font-size: 12px;
     margin-top: 10px;
 }

 .margin-element {
    margin: 0 20px 16px 8px;
}

.itinerary-container {
    justify-content: space-between;
}

.radio-button {
    margin-left: 12px;
    margin-top: 8px;
}
.container-options-itineraries {
    display: flex;
    align-items: center;
}

.duration-rating-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 12px;
}  
.airport-arrival {
    margin-bottom: 2px;
}
.information-flight-container .airline-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.airline-info-container {
    display: flex;
    flex-direction: row;
}

.information-flight-container .airline-image {
    margin-right: 10px;
    margin-bottom: 10px;
}

.information-flight-container .airline-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itinerary-flight {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 2px;
}

.airplane-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.info-airplane-container {
    display: flex;
    flex-direction: row;
    padding-left: 12px;
}

.airplane-container .title-trip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}
.flight-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 12px;
}

.rating-md-up {
    display: flex;
    justify-content: left;
}

.flight-medium-header .airplane-container {
    display: flex;
    flex-direction: column;
}

.flight-medium-header .info-airplane-container .airplane-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flight-medium-header .airplane-container {
    border-radius: 16px;
    overflow: hidden;
}

.aiport-medium-up {
    display: flex;
    flex-direction: column;
}

.code p {
    font-size: 16px;
}

.city p {
    font-size: 12px;
}

.bags-medium-up {
    display: flex;
    flex-direction: column;
}

.bag-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bags-medium-up p {
    display: flex;
    justify-content: right;
    padding-top: 16px;
    font-size: 12px;
}

@media (min-width: 768px){
    .airline-container {
        white-space: nowrap;
        overflow: hidden;
    }
    .time {
        display: flex;
        align-items: center;
        padding-top: 12px;

    }
    .type-flight p {
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-left: 25px;
    }
    .bags-duration-container i {
        padding-top: 6px;
    }
    .bags-duration-container {
        display: flex;
        justify-content: space-evenly;
    }

    .flight-medium-header .flight-date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 12px;
        font-size: 12px;
    }
}