.airport-departure {
    display: inline-flex;
    border: 2px solid #888888;
    border-radius: 1px
}

.time {
    display: flex;
    flex-direction: row;
}

.container-stars {
    letter-spacing: -3px;
}

 .container-details {
     display: flex;
     justify-content: space-evenly;
     font-size: 12px;
     margin-top: 10px;
 }

 .margin-element {
    margin: 0 20px 16px 8px;
}

.itinerary-container {
    justify-content: space-between;
}

.radio-button {
    margin-left: 12px;
    margin-top: 8px;
}
.container-options-itineraries {
    display: flex;
    align-items: center;
}

.duration-rating-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}  
.airport-arrival {
    margin-bottom: 2px;
}
.information-flight-container .airline-container {
    display: flex;
    flex-direction: row;
}

.information-flight-container .airline-image {
    margin-right: 10px;
    margin-bottom: 10px;
}

.information-flight-container .airline-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-flight {
    display: flex;
    align-items: center;
}