.airport-departure {
    display: inline-flex;
    border: 2px solid #888888;
    border-radius: 1px
}

.flight-container {
    display: flex;
    flex-direction: column;
}

.time {
    display: flex;
    flex-direction: row;
}

.container-stars {
    letter-spacing: -3px;
}

 .container-details {
     display: flex;
     justify-content: space-evenly;
     font-size: 12px;
     margin-top: 10px;
 }

 .margin-element {
    margin: 0 20px 16px 8px;
}

.itinerary-container {
    justify-content: space-between;
}

.radio-button {
    margin-left: 12px;
    margin-top: 8px;
}
.container-options-itineraries {
    display: flex;
    align-items: center;
}

.duration-rating-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 12px;
}  
.airport-arrival {
    margin-bottom: 2px;
}
.information-flight-container .airline-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.airline-info-container {
    display: flex;
    flex-direction: row;
}

.information-flight-container .airline-image {
    margin-right: 10px;
    margin-bottom: 10px;
}

.information-flight-container .airline-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itinerary-flight {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 2px;
}

.airplane-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.info-airplane-container {
    display: flex;
    flex-direction: row;
    padding-left: 12px;
}

.title-trip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}
.flight-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 12px;
}

@media (min-width: 768px){
    .airline-container {
        white-space: nowrap;
        overflow: hidden;
    }
    .time {
        display: flex;
        align-items: center;
    }
}