
.checkbox-label span{
    text-transform: none;
}

.sub-nav-container div {
    margin: auto;
}

.sub-nav-item {
    display: flex;
    flex-grow: 1;
    justify-content: space-around
}

.radio-label-container {
    margin-right: 20px
}

.margin-element {
    margin: 0 20px 16px 8px;
}

.title-property {
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    width: auto;
}

.tag-property {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    width: auto;
    justify-content: center
    
}

@media (max-width: 768px){
    .tags {
        justify-content: flex-start;
    }
}
.bot-line li {
    border-bottom: 1px solid #eee
}